	<%- include('../partials/header', { title: title, name: name }) %>
	<% if(typeof negativeAlert != 'undefined') { %>
	<div class="alert alert-danger" role="alert">
	  <%= negativeAlert %>
	</div>
	<% } %>
	<% if(typeof positiveAlert != 'undefined') { %>
	<div class="alert alert-succes" role="alert">
	  <%= positiveAlert %>
	</div>
	<% } %>
	<a href="/">
		<button class="btn btn-outline-secondary btn-sm back">
			Back
		</button>
	</a>
	<h1>Password for <%= password['site'] %></h1>
	<p class="small">ID: <%= password['_id'] %></p>

	<p class="big" id="pass">
		<span id="secret-pass">
			<%= "*".repeat(password['password'].length) %>
		</span>
		<span id="not-secret-pass" class="hidden">
			<%= password['password'] %>
		</span>
	</p>
	<button class="btn btn-dark" id="show-button" onClick="toggleShow();" >Show Password</button>

	<script>
		var	 hidden = true;
		const toggleShow = () => {
			if(hidden){
				document.getElementById('secret-pass').className = "hidden";
				document.getElementById('not-secret-pass').className = "";
				document.getElementById('show-button').innerText = 'Hide Password';
				hidden = false;
			} else {
				document.getElementById('secret-pass').className = "";
				document.getElementById('not-secret-pass').className = "hidden";
				document.getElementById('show-button').innerText = 'Show Password';
				hidden = true;
			}
		}
	</script>
	<%- include('../partials/footer') %>